<%= render 'pages/home'%>

<% if user_signed_in? %>
  <%= link_to 'New Photo', new_photo_path %>
<% end %>
<br/>
<div id='photo' class="transitions-enabled infinite-scroll clearfix">
  <% @photos.each do |photo| %>
    <div class='box'>
      <%= link_to image_tag(photo.image.url(:medium)), photo %>
      <div class="panel-body">
        <%= photo.description %>
        <br/>
        <%= photo.user.try(:email) %>
        
        <% if photo.user == current_user %>
          <div class="actions">
            <%= link_to 'Edit', edit_photo_path(photo) %>
            <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<br/>
<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
